<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <port>21</port>
  <keyfile />
  <Enabled>true</Enabled>
  <ServerUrl>checkmate.primerogroup.com.au</ServerUrl>
  <Fingerprint />
  <FtpPath>/CheckmateUpdate</FtpPath>
  <Username>ftpuser</Username>
  <Password>&amp;Ch9^k%usZ!5UtF</Password>
  <SSHKeyPass />
  <Port>21</Port>
  <KeyFile />
  <UpdateFileList>
    <LocalFile path="CheckmateDX.exe" lasthash="c220QjgRbpeC1UPExXRxQQ==" size="3140096" />
    <LocalFile path="DevExpress.BonusSkins.v18.2.dll" lasthash="pECinToAe8U0LOFaM1QCiA==" size="20946168" />
    <LocalFile path="DevExpress.Charts.v18.2.Core.dll" lasthash="Lg0nti5dhcqUnDiHmSNyEg==" size="756984" />
    <LocalFile path="DevExpress.CodeParser.v18.2.dll" lasthash="Aw1uCitHqkH9gBlviVhhLw==" size="1747192" />
    <LocalFile path="DevExpress.Dashboard.v18.2.Core.dll" lasthash="DODMG/PKHoaRgeC7Xg04JQ==" size="8624376" />
    <LocalFile path="DevExpress.Data.v18.2.dll" lasthash="lVD7ic4UP/2ShMiNROw26A==" size="6805752" />
    <LocalFile path="DevExpress.DataAccess.v18.2.dll" lasthash="c8N7JTy8N+Y22E9BrVFoNw==" size="1666808" />
    <LocalFile path="DevExpress.DataAccess.v18.2.UI.dll" lasthash="ls28a64toAphYQc7Sh/yVQ==" size="937208" />
    <LocalFile path="DevExpress.Diagram.v18.2.Core.dll" lasthash="C+cRNMZKuoVmTJ14wzjIJQ==" size="2918136" />
    <LocalFile path="DevExpress.Docs.v18.2.dll" lasthash="GdNm17xI5UeWRqldMM00Mw==" size="254200" />
    <LocalFile path="DevExpress.Images.v18.2.dll" lasthash="tEpmPfBXt45nGK3Mrgr1lg==" size="8424184" />
    <LocalFile path="DevExpress.Map.v18.2.Core.dll" lasthash="VKs3hUd+jL4NgXkxaJEDGw==" size="1004792" />
    <LocalFile path="DevExpress.Mvvm.v18.2.dll" lasthash="GV7BguV/uaDF7RV9eKfFvw==" size="669432" />
    <LocalFile path="DevExpress.Office.v18.2.Core.dll" lasthash="S9UquGLmQ8g9tH+gjLkENA==" size="2465528" />
    <LocalFile path="DevExpress.Pdf.v18.2.Core.dll" lasthash="tSguqFgH6RPiBEBnJRCRww==" size="2962680" />
    <LocalFile path="DevExpress.Pdf.v18.2.Drawing.dll" lasthash="L4N/xYakz8bkGu7AadsJ8Q==" size="350968" />
    <LocalFile path="DevExpress.PivotGrid.v18.2.Core.dll" lasthash="6mL5CkBFOVzL2GhHYpD8wA==" size="3144440" />
    <LocalFile path="DevExpress.Printing.v18.2.Core.dll" lasthash="JOLezz3r5I0MQeGptfDoIA==" size="4293880" />
    <LocalFile path="DevExpress.RichEdit.v18.2.Core.dll" lasthash="EN5CjegHPzJGkUumgxGpvg==" size="8231160" />
    <LocalFile path="DevExpress.RichEdit.v18.2.Export.dll" lasthash="i9PSjfMVLR/Q9nxy4xVtSA==" size="228088" />
    <LocalFile path="DevExpress.Snap.v18.2.Core.dll" lasthash="ERd3RGWKfQDGJMwRgs7ZzA==" size="925944" />
    <LocalFile path="DevExpress.Sparkline.v18.2.Core.dll" lasthash="whaDkvK+9EeS/q8DKKwSzA==" size="89848" />
    <LocalFile path="DevExpress.SpellChecker.v18.2.Core.dll" lasthash="Q8+q44CuyU3rp5jsuY6NUw==" size="779512" />
    <LocalFile path="DevExpress.Spreadsheet.v18.2.Core.dll" lasthash="ol8yAABOcYh8wnSppxYvmg==" size="14348536" />
    <LocalFile path="DevExpress.TreeMap.v18.2.Core.dll" lasthash="NWm3sm2J67UlClcAa5fTtg==" size="28920" />
    <LocalFile path="DevExpress.Utils.v18.2.dll" lasthash="I4DWmnoRwLlZqZWqSiVb3w==" size="14002936" />
    <LocalFile path="DevExpress.Utils.v18.2.UI.dll" lasthash="GU0NGgLS+rSZmoP39cEPcw==" size="358648" />
    <LocalFile path="DevExpress.Xpf.CodeView.v18.2.dll" lasthash="bIjYzmdqcKQxph+LEcW/3A==" size="194296" />
    <LocalFile path="DevExpress.Xpf.Core.v18.2.dll" lasthash="1ya8nSO45KiwDVywLLV70A==" size="10033400" />
    <LocalFile path="DevExpress.Xpf.Docking.v18.2.dll" lasthash="ChQxl0ntg5O3BVXcLFKrnA==" size="1590008" />
    <LocalFile path="DevExpress.Xpf.DocumentViewer.v18.2.Core.dll" lasthash="IQW8savNoKPWFprwh8vsZA==" size="359160" />
    <LocalFile path="DevExpress.Xpf.Grid.v18.2.Core.dll" lasthash="O1SqmbYNseMAIcom8ruPOQ==" size="2154744" />
    <LocalFile path="DevExpress.Xpf.Grid.v18.2.dll" lasthash="sm4DOmNmWUvKUMcFGXJWHw==" size="2384120" />
    <LocalFile path="DevExpress.Xpf.Layout.v18.2.Core.dll" lasthash="fIkNY5usODjGueqQHcIbLw==" size="109304" />
    <LocalFile path="DevExpress.Xpf.LayoutControl.v18.2.dll" lasthash="mKwWVljUNLsF83c009kKkw==" size="486648" />
    <LocalFile path="DevExpress.Xpf.Printing.v18.2.dll" lasthash="wG+8ZLkp8GLx5EJibuGUjA==" size="1392376" />
    <LocalFile path="DevExpress.Xpf.Ribbon.v18.2.dll" lasthash="HUJ+eBN2I+npgBHna+zknA==" size="1713912" />
    <LocalFile path="DevExpress.Xpo.v18.2.dll" lasthash="9yqRpceawHt3/U/gNp084A==" size="1928440" />
    <LocalFile path="DevExpress.XtraBars.v18.2.dll" lasthash="Xr3N7cqinMCu2R6OVOkWZw==" size="6473976" />
    <LocalFile path="DevExpress.XtraCharts.v18.2.dll" lasthash="JRXV4QKuINNgj8MSNON9vw==" size="4662008" />
    <LocalFile path="DevExpress.XtraCharts.v18.2.Extensions.dll" lasthash="aUVXxeCv7u96cA2Y0TH4VA==" size="35576" />
    <LocalFile path="DevExpress.XtraCharts.v18.2.Wizard.dll" lasthash="YSStdfAZxyOGsWfuelX6/w==" size="7486200" />
    <LocalFile path="DevExpress.XtraDiagram.v18.2.dll" lasthash="9wXeA0xR43d9YAEN+YKC1A==" size="1264376" />
    <LocalFile path="DevExpress.XtraEditors.v18.2.dll" lasthash="tuciyOdRtlhukdGbiS8VdA==" size="6441208" />
    <LocalFile path="DevExpress.XtraGauges.v18.2.Core.dll" lasthash="xL8ONyNQU8FCbbzRGIe/Hg==" size="1958136" />
    <LocalFile path="DevExpress.XtraGauges.v18.2.Presets.dll" lasthash="LwyKYmiOoW/zLOcS2iuaPQ==" size="1169656" />
    <LocalFile path="DevExpress.XtraGauges.v18.2.Win.dll" lasthash="dnddyZFDnviCr5LE2a8Zkg==" size="273144" />
    <LocalFile path="DevExpress.XtraGrid.v18.2.dll" lasthash="JP/NL+EHlDNODTy0mdxJCg==" size="3339000" />
    <LocalFile path="DevExpress.XtraLayout.v18.2.dll" lasthash="QPzFJCzT/fK1KsZeX2v+BA==" size="2042616" />
    <LocalFile path="DevExpress.XtraMap.v18.2.dll" lasthash="0kbhYhiOEWRU0do4t8OksA==" size="1472760" />
    <LocalFile path="DevExpress.XtraNavBar.v18.2.dll" lasthash="Tk816auRCXpa6kVUlz86nA==" size="442104" />
    <LocalFile path="DevExpress.XtraPdfViewer.v18.2.dll" lasthash="Pc7Z9ndbBE9hCp7/q2Lq6Q==" size="749304" />
    <LocalFile path="DevExpress.XtraPivotGrid.v18.2.dll" lasthash="Bvl8tVYN1yFzXC9zqAUMhQ==" size="842488" />
    <LocalFile path="DevExpress.XtraPrinting.v18.2.dll" lasthash="q7E8xXtvpaVS/WwNFm/aLg==" size="1211128" />
    <LocalFile path="DevExpress.XtraReports.v18.2.dll" lasthash="5+keAJl5zFCJwyQOmq4SpQ==" size="3763960" />
    <LocalFile path="DevExpress.XtraReports.v18.2.Extensions.dll" lasthash="9DaPhmDu68Kn0MscvGhrQg==" size="4791544" />
    <LocalFile path="DevExpress.XtraRichEdit.v18.2.dll" lasthash="+twvP3p4g4Y3AsSUJcN9yg==" size="2003704" />
    <LocalFile path="DevExpress.XtraRichEdit.v18.2.Extensions.dll" lasthash="H4nR79ONFICM4VINJWfH7w==" size="45816" />
    <LocalFile path="DevExpress.XtraSpellChecker.v18.2.dll" lasthash="fEt9itIVl19INXzWzrobBQ==" size="260344" />
    <LocalFile path="DevExpress.XtraSpreadsheet.v18.2.dll" lasthash="Rw9GbtwfE6a3f48NfT3uHg==" size="3797240" />
    <LocalFile path="DevExpress.XtraTreeList.v18.2.dll" lasthash="1bqzlPAsho7pCCDCwqobOA==" size="1505528" />
    <LocalFile path="DevExpress.XtraTreeMap.v18.2.dll" lasthash="amOoeMxN/E7Hce2X7xSnsA==" size="251640" />
    <LocalFile path="DevExpress.XtraVerticalGrid.v18.2.dll" lasthash="z3HncMHGod6P4byVwSspyQ==" size="1023224" />
    <LocalFile path="DrawingBoard.dll" lasthash="dFC7wfQpAxjS1Avfs1YGbA==" size="206848" />
    <LocalFile path="PrimeroSkin.dll" lasthash="NV5wFJLMOLJgiT4JKDgz3A==" size="453632" />
    <LocalFile path="ProjectCommon.dll" lasthash="4Q0kTAkFO+4qh+r7p9bfQw==" size="44544" />
    <LocalFile path="ProjectDatabase.dll" lasthash="3RSruq4ZVGJvDAnbhvx2EQ==" size="1186304" />
    <LocalFile path="ProjectLibrary.dll" lasthash="s68X3cmwXjH7q/cT1xBqzQ==" size="79360" />
    <LocalFile path="SmartThreadPool.dll" lasthash="j1Js1cm+TvXpSUrQjtkePw==" size="61440" />
    <LocalFile path="WinSCP.exe" lasthash="h2sCid1p21U3yThCMvPd0w==" size="19334352" />
    <LocalFile path="winscp.ini" lasthash="a35rAcd7yX7f2M+LMH7uew==" size="78" />
    <LocalFile path="WinSCPnet.dll" lasthash="D/tsIJOAk47oROHWl+wikg==" size="164736" />
    <LocalFile path="XMLWriter.exe" lasthash="b6YUSXp0xbr+F6Mu7ccHsw==" size="780288" />
    <LocalFile path="zxing.dll" lasthash="71kMxL5gLNU0RfUP3XNH7g==" size="436224" />
  </UpdateFileList>
</Config>