USE [master]
GO
/****** Object:  Database [CHECKMATE]    Script Date: 29/08/2014 1:49:16 PM ******/
CREATE DATABASE [CHECKMATE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHECKMATE', FILENAME = N'C:\Database\CHECKMATE.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CHECKMATE_log', FILENAME = N'C:\Database\CHECKMATE_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHECKMATE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHECKMATE]
GO
/****** Object:  Table [dbo].[ELECTRICAL_EQUIPMENT]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELECTRICAL_EQUIPMENT](
	[GUID] [uniqueidentifier] NOT NULL,
	[ASSET_NUMBER] [nvarchar](50) NOT NULL,
	[MAKE] [nvarchar](100) NOT NULL,
	[TYPE] [nvarchar](100) NOT NULL,
	[MODEL] [nvarchar](100) NOT NULL,
	[SERIAL] [nvarchar](100) NOT NULL,
	[EXPIRY] [datetime] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ELECTRICAL_EQUIPMENT] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ITR_MAIN]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITR_MAIN](
	[GUID] [uniqueidentifier] NOT NULL,
	[TAG_GUID] [uniqueidentifier] NULL,
	[WBS_GUID] [uniqueidentifier] NULL,
	[TEMPLATE_GUID] [uniqueidentifier] NOT NULL,
	[SEQUENCE_NUMBER] [numeric](10, 0) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[REVISION] [nvarchar](100) NOT NULL,
	[DISCIPLINE] [nvarchar](50) NOT NULL,
	[ITR] [varbinary](max) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ITR_MAIN] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITR_STATUS]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITR_STATUS](
	[GUID] [uniqueidentifier] NOT NULL,
	[ITR_MAIN_GUID] [uniqueidentifier] NOT NULL,
	[SEQUENCE_NUMBER] [numeric](10, 0) NOT NULL,
	[STATUS_NUMBER] [numeric](5, 0) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ITR_STATUS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ITR_STATUS_ISSUE]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITR_STATUS_ISSUE](
	[GUID] [uniqueidentifier] NOT NULL,
	[ITR_STATUS_GUID] [uniqueidentifier] NOT NULL,
	[SEQUENCE_NUMBER] [numeric](10, 0) NOT NULL,
	[COMMENTS] [nvarchar](500) NOT NULL,
	[COMMENTS_READ] [bit] NOT NULL,
	[REJECTION] [bit] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ITR_STATUS_ISSUE] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PREFILL_MAIN]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFILL_MAIN](
	[GUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DISCIPLINE] [nvarchar](50) NOT NULL,
	[CATEGORY] [nvarchar](100) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HEADER_MAIN] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PREFILL_REGISTER]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFILL_REGISTER](
	[GUID] [uniqueidentifier] NOT NULL,
	[TAG_GUID] [uniqueidentifier] NULL,
	[WBS_GUID] [uniqueidentifier] NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DATA] [nvarchar](500) NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PREFILL_REGISTER] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT](
	[GUID] [uniqueidentifier] NOT NULL,
	[NUMBER] [nvarchar](100) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[CLIENT] [nvarchar](100) NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PUNCHLIST_MAIN]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNCHLIST_MAIN](
	[GUID] [uniqueidentifier] NOT NULL,
	[TAG_GUID] [uniqueidentifier] NULL,
	[WBS_GUID] [uniqueidentifier] NULL,
	[SEQUENCE_NUMBER] [numeric](10, 0) NULL,
	[TITLE] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NOT NULL,
	[REMEDIAL] [nvarchar](500) NULL,
	[DISCIPLINE] [nvarchar](50) NOT NULL,
	[CATEGORY] [nvarchar](100) NULL,
	[ACTIONBY] [nvarchar](100) NULL,
	[PRIORITY] [nvarchar](50) NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PUNCHLIST_MAIN] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PUNCHLIST_STATUS]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNCHLIST_STATUS](
	[GUID] [uniqueidentifier] NOT NULL,
	[PUNCHLIST_MAIN_GUID] [uniqueidentifier] NOT NULL,
	[SEQUENCE_NUMBER] [numeric](10, 0) NOT NULL,
	[STATUS_NUMBER] [numeric](5, 0) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PUNCHLIST_STATUS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PUNCHLIST_STATUS_ISSUE]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNCHLIST_STATUS_ISSUE](
	[GUID] [uniqueidentifier] NOT NULL,
	[PUNCHLIST_STATUS_GUID] [uniqueidentifier] NOT NULL,
	[SEQUENCE_NUMBER] [numeric](10, 0) NOT NULL,
	[COMMENTS] [nvarchar](500) NOT NULL,
	[COMMENTS_READ] [bit] NOT NULL,
	[REJECTION] [bit] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PUNCHLIST_STATUS_ISSUE] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE_MAIN]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_MAIN](
	[GUID] [uniqueidentifier] NOT NULL,
	[PARENTGUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PROFILE_SECURITY] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE_PRIVILEGE]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_PRIVILEGE](
	[GUID] [uniqueidentifier] NOT NULL,
	[ROLEGUID] [uniqueidentifier] NOT NULL,
	[TYPEID] [nvarchar](100) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ROLE_PRIVILEGE] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[GUID] [uniqueidentifier] NOT NULL,
	[PROJECTGUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](150) NOT NULL,
	[DISCIPLINE] [nvarchar](50) NOT NULL,
	[CREATED] [datetime] NULL,
	[CREATEDBY] [uniqueidentifier] NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAG]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG](
	[GUID] [uniqueidentifier] NOT NULL,
	[SCHEDULEGUID] [uniqueidentifier] NOT NULL,
	[PARENTGUID] [uniqueidentifier] NOT NULL,
	[WBSGUID] [uniqueidentifier] NOT NULL,
	[NUMBER] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[TYPE] [nvarchar](100) NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TAG] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEMPLATE_MAIN]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEMPLATE_MAIN](
	[GUID] [uniqueidentifier] NOT NULL,
	[WORKFLOWGUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[REVISION] [nvarchar](100) NOT NULL,
	[DISCIPLINE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](150) NULL,
	[TEMPLATE] [varbinary](max) NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TEMPLATE_MAIN] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEMPLATE_REGISTER]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPLATE_REGISTER](
	[GUID] [uniqueidentifier] NOT NULL,
	[TEMPLATE_GUID] [uniqueidentifier] NOT NULL,
	[TAG_GUID] [uniqueidentifier] NULL,
	[WBS_GUID] [uniqueidentifier] NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TEMPLATE_REGISTER] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_DISC]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DISC](
	[GUID] [uniqueidentifier] NOT NULL,
	[USERGUID] [uniqueidentifier] NOT NULL,
	[DISCIPLINE] [nvarchar](50) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_USER_DISC] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_MAIN]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_MAIN](
	[GUID] [uniqueidentifier] NOT NULL,
	[QANUMBER] [nvarchar](100) NOT NULL,
	[FIRSTNAME] [nvarchar](100) NOT NULL,
	[LASTNAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[ROLE] [uniqueidentifier] NOT NULL,
	[COMPANY] [nvarchar](100) NOT NULL,
	[INFO] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[SIGNATURE] [image] NULL,
	[DPROJECT] [uniqueidentifier] NULL,
	[DDISCIPLINE] [nvarchar](50) NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_USER_MAIN] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_PROJECT]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROJECT](
	[GUID] [uniqueidentifier] NOT NULL,
	[USERGUID] [uniqueidentifier] NOT NULL,
	[PROJECTGUID] [uniqueidentifier] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_USER_PROJECT] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WBS]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WBS](
	[GUID] [uniqueidentifier] NOT NULL,
	[SCHEDULEGUID] [uniqueidentifier] NOT NULL,
	[PARENTGUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_WBS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WORKFLOW_MAIN]    Script Date: 29/08/2014 1:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOW_MAIN](
	[GUID] [uniqueidentifier] NOT NULL,
	[PARENTGUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[CREATED] [datetime] NOT NULL,
	[CREATEDBY] [uniqueidentifier] NOT NULL,
	[UPDATED] [datetime] NULL,
	[UPDATEDBY] [uniqueidentifier] NULL,
	[DELETED] [datetime] NULL,
	[DELETEDBY] [uniqueidentifier] NULL,
 CONSTRAINT [PK_WORKFLOW_MAIN] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ELECTRICAL_EQUIPMENT] ADD  CONSTRAINT [DF_ELECTRICAL_EQUIPMENT_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITR_MAIN] ADD  CONSTRAINT [DF_ITR_MAIN_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITR_STATUS] ADD  CONSTRAINT [DF_ITR_STATUS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITR_STATUS_ISSUE] ADD  CONSTRAINT [DF_ITR_STATUS_ISSUE_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITR_STATUS_ISSUE] ADD  CONSTRAINT [DF_Table_1_READ]  DEFAULT ((0)) FOR [COMMENTS_READ]
GO
ALTER TABLE [dbo].[ITR_STATUS_ISSUE] ADD  CONSTRAINT [DF_ITR_STATUS_ISSUE_REJECTION]  DEFAULT ((0)) FOR [REJECTION]
GO
ALTER TABLE [dbo].[PREFILL_MAIN] ADD  CONSTRAINT [DF_HEADER_MAIN_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[PREFILL_REGISTER] ADD  CONSTRAINT [DF_PREFILL_REGISTER_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[PUNCHLIST_MAIN] ADD  CONSTRAINT [DF_PUNCHLIST_MAIN_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[PUNCHLIST_STATUS] ADD  CONSTRAINT [DF_PUNCHLIST_STATUS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[PUNCHLIST_STATUS_ISSUE] ADD  CONSTRAINT [DF_PUNCHLIST_STATUS_ISSUE_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[PUNCHLIST_STATUS_ISSUE] ADD  CONSTRAINT [DF_PUNCHLIST_STATUS_ISSUE_COMMENTS_READ]  DEFAULT ((0)) FOR [COMMENTS_READ]
GO
ALTER TABLE [dbo].[PUNCHLIST_STATUS_ISSUE] ADD  CONSTRAINT [DF_PUNCHLIST_STATUS_ISSUE_REJECTION]  DEFAULT ((0)) FOR [REJECTION]
GO
ALTER TABLE [dbo].[ROLE_MAIN] ADD  CONSTRAINT [DF_PROFILE_SECURITY_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGE] ADD  CONSTRAINT [DF_ROLE_PRIVILEGE_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[TAG] ADD  CONSTRAINT [DF_TAG_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[TEMPLATE_MAIN] ADD  CONSTRAINT [DF_TEMPLATE_MAIN_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[TEMPLATE_REGISTER] ADD  CONSTRAINT [DF_TEMPLATE_REGISTER_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[USER_DISC] ADD  CONSTRAINT [DF_USER_DISC_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[USER_MAIN] ADD  CONSTRAINT [DF_USER_MAIN_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[USER_PROJECT] ADD  CONSTRAINT [DF_USER_PROJECT_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[WBS] ADD  CONSTRAINT [DF_WBS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[WORKFLOW_MAIN] ADD  CONSTRAINT [DF_WORKFLOW_MAIN_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITR_MAIN]  WITH CHECK ADD  CONSTRAINT [FK_ITR_TAG] FOREIGN KEY([TAG_GUID])
REFERENCES [dbo].[TAG] ([GUID])
GO
ALTER TABLE [dbo].[ITR_MAIN] CHECK CONSTRAINT [FK_ITR_TAG]
GO
ALTER TABLE [dbo].[ITR_MAIN]  WITH CHECK ADD  CONSTRAINT [FK_ITR_WBS] FOREIGN KEY([WBS_GUID])
REFERENCES [dbo].[WBS] ([GUID])
GO
ALTER TABLE [dbo].[ITR_MAIN] CHECK CONSTRAINT [FK_ITR_WBS]
GO
ALTER TABLE [dbo].[ITR_STATUS]  WITH CHECK ADD  CONSTRAINT [FK_ITRSTATUS_ITR] FOREIGN KEY([ITR_MAIN_GUID])
REFERENCES [dbo].[ITR_MAIN] ([GUID])
GO
ALTER TABLE [dbo].[ITR_STATUS] CHECK CONSTRAINT [FK_ITRSTATUS_ITR]
GO
ALTER TABLE [dbo].[ITR_STATUS_ISSUE]  WITH CHECK ADD  CONSTRAINT [FK_ITRISSUE_ITRSTATUS] FOREIGN KEY([ITR_STATUS_GUID])
REFERENCES [dbo].[ITR_STATUS] ([GUID])
GO
ALTER TABLE [dbo].[ITR_STATUS_ISSUE] CHECK CONSTRAINT [FK_ITRISSUE_ITRSTATUS]
GO
ALTER TABLE [dbo].[PREFILL_REGISTER]  WITH CHECK ADD  CONSTRAINT [FK_PREFILL_TAG] FOREIGN KEY([TAG_GUID])
REFERENCES [dbo].[TAG] ([GUID])
GO
ALTER TABLE [dbo].[PREFILL_REGISTER] CHECK CONSTRAINT [FK_PREFILL_TAG]
GO
ALTER TABLE [dbo].[PREFILL_REGISTER]  WITH CHECK ADD  CONSTRAINT [FK_PREFILL_WBS] FOREIGN KEY([WBS_GUID])
REFERENCES [dbo].[WBS] ([GUID])
GO
ALTER TABLE [dbo].[PREFILL_REGISTER] CHECK CONSTRAINT [FK_PREFILL_WBS]
GO
ALTER TABLE [dbo].[PUNCHLIST_MAIN]  WITH CHECK ADD  CONSTRAINT [FK_PUNCHLIST_TAG] FOREIGN KEY([TAG_GUID])
REFERENCES [dbo].[TAG] ([GUID])
GO
ALTER TABLE [dbo].[PUNCHLIST_MAIN] CHECK CONSTRAINT [FK_PUNCHLIST_TAG]
GO
ALTER TABLE [dbo].[PUNCHLIST_MAIN]  WITH CHECK ADD  CONSTRAINT [FK_PUNCHLIST_WBS] FOREIGN KEY([WBS_GUID])
REFERENCES [dbo].[WBS] ([GUID])
GO
ALTER TABLE [dbo].[PUNCHLIST_MAIN] CHECK CONSTRAINT [FK_PUNCHLIST_WBS]
GO
ALTER TABLE [dbo].[PUNCHLIST_STATUS]  WITH CHECK ADD  CONSTRAINT [FK_PUNCHLISTSTATUS_PUNCHLIST] FOREIGN KEY([PUNCHLIST_MAIN_GUID])
REFERENCES [dbo].[PUNCHLIST_MAIN] ([GUID])
GO
ALTER TABLE [dbo].[PUNCHLIST_STATUS] CHECK CONSTRAINT [FK_PUNCHLISTSTATUS_PUNCHLIST]
GO
ALTER TABLE [dbo].[PUNCHLIST_STATUS_ISSUE]  WITH CHECK ADD  CONSTRAINT [FK_PUNCHLISTISSUE_PUNCHLISTSTATUS] FOREIGN KEY([PUNCHLIST_STATUS_GUID])
REFERENCES [dbo].[PUNCHLIST_STATUS] ([GUID])
GO
ALTER TABLE [dbo].[PUNCHLIST_STATUS_ISSUE] CHECK CONSTRAINT [FK_PUNCHLISTISSUE_PUNCHLISTSTATUS]
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGE]  WITH CHECK ADD  CONSTRAINT [FK_PRIVIDROLE] FOREIGN KEY([ROLEGUID])
REFERENCES [dbo].[ROLE_MAIN] ([GUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGE] CHECK CONSTRAINT [FK_PRIVIDROLE]
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULE_PROJECT] FOREIGN KEY([PROJECTGUID])
REFERENCES [dbo].[PROJECT] ([GUID])
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [FK_SCHEDULE_PROJECT]
GO
ALTER TABLE [dbo].[TAG]  WITH CHECK ADD  CONSTRAINT [FK_TAG_SCHEDULE] FOREIGN KEY([SCHEDULEGUID])
REFERENCES [dbo].[SCHEDULE] ([GUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG] CHECK CONSTRAINT [FK_TAG_SCHEDULE]
GO
ALTER TABLE [dbo].[TEMPLATE_REGISTER]  WITH CHECK ADD  CONSTRAINT [FK_REGISTER_TAG] FOREIGN KEY([TAG_GUID])
REFERENCES [dbo].[TAG] ([GUID])
GO
ALTER TABLE [dbo].[TEMPLATE_REGISTER] CHECK CONSTRAINT [FK_REGISTER_TAG]
GO
ALTER TABLE [dbo].[TEMPLATE_REGISTER]  WITH CHECK ADD  CONSTRAINT [FK_REGISTER_WBS] FOREIGN KEY([WBS_GUID])
REFERENCES [dbo].[WBS] ([GUID])
GO
ALTER TABLE [dbo].[TEMPLATE_REGISTER] CHECK CONSTRAINT [FK_REGISTER_WBS]
GO
ALTER TABLE [dbo].[USER_DISC]  WITH CHECK ADD  CONSTRAINT [FK_USERIDDISC] FOREIGN KEY([USERGUID])
REFERENCES [dbo].[USER_MAIN] ([GUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_DISC] CHECK CONSTRAINT [FK_USERIDDISC]
GO
ALTER TABLE [dbo].[USER_PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTID] FOREIGN KEY([PROJECTGUID])
REFERENCES [dbo].[PROJECT] ([GUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_PROJECT] CHECK CONSTRAINT [FK_PROJECTID]
GO
ALTER TABLE [dbo].[USER_PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_USERIDPROJ] FOREIGN KEY([USERGUID])
REFERENCES [dbo].[USER_MAIN] ([GUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_PROJECT] CHECK CONSTRAINT [FK_USERIDPROJ]
GO
ALTER TABLE [dbo].[WBS]  WITH CHECK ADD  CONSTRAINT [FK_WBS_SCHEDULE] FOREIGN KEY([SCHEDULEGUID])
REFERENCES [dbo].[SCHEDULE] ([GUID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WBS] CHECK CONSTRAINT [FK_WBS_SCHEDULE]
GO
USE [master]
GO
